<div class="container-fluid">
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_24.png)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Featured</p>
      <h3 class="title text-center">Blue Ocean Waves Crash</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_24.png)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Featured</p>
      <h3 class="title text-center">Blue Ocean Waves Crash</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
</div>

