<div class="container-fluid">
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">3090 TI</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify"><a href="https://www.amazon.fr/MSI-GeForce-3090-Gaming-Trio/dp/B09Q315PGB?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=230B31LV0GRZA&keywords=3090+ti&qid=1651565155&sprefix=3090ti%2Caps%2C73&sr=8-5&linkCode=li1&tag=fabricebaro02-21&linkId=8924a4436d89430ea151fa3ab8745c9b&language=fr_FR&ref_=as_li_ss_il" target="_blank"><img border="0" src="//ws-eu.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B09Q315PGB&Format=_SL110_&ID=AsinImage&MarketPlace=FR&ServiceVersion=20070822&WS=1&tag=fabricebaro02-21&language=fr_FR" ></a><img src="https://ir-fr.amazon-adsystem.com/e/ir?t=fabricebaro02-21&language=fr_FR&l=li1&o=8&a=B09Q315PGB" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">6900 XT</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">3090</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">3080 TI</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">6800 XT</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">3080</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">6800</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">3070 TI</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">6700 XT</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">3070</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">6700</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">3060 TI</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">3060</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center">6600</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://pausehardware.com/wp-content/uploads/2022/03/Gigabyte-rtx-3090-ti-2.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">Meilleur carte 4K</p>
      <h3 class="title text-center">3050</h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
  <div class="blog-card">
    <div class="media col-sm-8 col-md-3" style="background-image: url(https://www.gigabyte.com/FileUpload/Global/KeyFeature/1832/innergigabyteimages/kv-img-rwd.jpg)"></div>
    <div class="card-body col-sm-6 col-xs-6">
      <p class="tagline text-center">>Meilleur carte 4K</p>
      <h3 class="title text-center"></h3>
      <div class="divider"></div>
      <p class="paragraph text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam a incidunt fuga, ducimus nisi iusto ipsum sit deleniti suscipit atque aliquid, velit at? At quasi magni voluptates molestiae aperiam</p><a class="read-more glyphicon glyphicon-chevron-down"></a>
    </div>
  </div>
</div>
